/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
.l-header,
.l-main,
.l-footer {
  *zoom : 1;
}

.l-header:after,
.l-main:after,
.l-footer:after {
  content : "";
  display : table;
  clear   : both;
}

