/* CHOOSE FILE BUTTON */

.form-managed-file * {
  box-sizing         : border-box;
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  font-family : 'AvenirLTStd-Medium', calibri, arial, sans-serif;
  font-weight        : normal;
  font-size          : 15px;
}

.form-managed-file {
  width   : auto;
  padding : 0;
}

.form-managed-file label:first-child {
  width         : 100px;
  display       : block;
  margin-bottom : .5em;
  font          : bold 18px Arial, sans-serif;
  color         : #333333;
}

.customfile-wrap {
  position : relative;
  float    : left;
  padding  : 0;
  margin   : 0 0 10px 0;
}

.customfile-filename,
.customfile-upload {
  margin  : 0;
  padding : 0;
}

input.customfile-filename {
  width         : 230px;
  padding       : 8px;
  border        : 1px solid #cbcbcb;
  border-radius : 0;
}

.customfile-filename:focus {
  outline : none;
}

.customfile-upload {
  display     : inline-block;
  margin-left : 8px;
  padding: 8px 12px 7px 12px;
  background: #b4b4b4;
  border-bottom: 3px solid #828282;
  border-left: none;
  border-right: none;
  border-top: none;
  color       : white;
  cursor      : pointer;
  font-size   : 15px;
}

.customfile-upload:hover {
  background: #c6c6c6;
  border-bottom: none;
  padding: 9px 12px 9px 12px;
}

.customfile-upload::-moz-focus-inner {
  padding : 0;
  border  : 0
}

/*---/ CHOOSE FILE BUTTON */



