/* CHOOSE FILE BUTTON */

.form-managed-file * {
  box-sizing         : border-box;
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  font-family        : 'corbelregular', calibri, arial, sans-serif;
  font-weight        : normal;
  font-size          : 16px;
}

.form-managed-file {
  width   : auto;
  padding : 10px 0 5px 0;
}

.form-managed-file label:first-child {
  width         : 100px;
  display       : block;
  margin-bottom : .5em;
  font          : bold 18px Arial, sans-serif;
  color         : #333333;
}

.customfile-wrap {
  position : relative;
  float    : left;
  padding  : 0;
  margin   : 0 30px 0 0;
}

.customfile-filename,
.customfile-upload {
  margin  : 0;
  padding : 0;
}

input.customfile-filename {
  width         : 230px;
  padding       : 4px 8px;
  border        : 1px solid #C8C8C8;
  border-radius : 0;
  box-shadow    : inset 0 1px 2px rgba(0, 0, 0, .2);
}

.customfile-filename:focus {
  outline : none;
}

.customfile-upload {
  display     : inline-block;
  background  : #367DA2;
  margin-left : 4px;
  padding     : 5px 40px;
  border      : none;
  color       : white;
  /*  box-shadow  : 3px 3px 2px 0 rgba(0, 0, 0, 0.35); */
  cursor      : pointer;
}

.customfile-upload:hover {
  background : #2B6380;
}

.customfile-upload::-moz-focus-inner {
  padding : 0;
  border  : 0
}

/*---/ CHOOSE FILE BUTTON */



