/* SKELETON */

.wrapper_header_main {
  width        : 1024px;
  margin       : 0 auto;
  border-left  : 1px solid #E1E1E1;
  border-right : 1px solid #E1E1E1;
  box-shadow   : 0 0 8px 5px #E9E9E9;
}

.l-header, .l-footer {
  width  : 984px;
  margin : 0 20px;
}

.l-main {
  width  : 984px;
  margin : 50px 20px 0 20px;
}

.l-footer {
  margin : 0 auto;
}

.l-header {
  padding-top : 30px;
}

.l-header .l-branding,
.l-main .l-content,
.l-main .l-region--sidebar-first {
  float : left;
}

.l-header .l-region--header,
.front .l-main .l-content {
  float : right;
}

.not-front .l-main .l-content,
.not-front.page-user.not-logged-in .l-main .l-content {
  width : 100%;
}

.not-front.page-user.not-logged-in .l-main .l-content {
  margin-right: 0;

}

.not-front.page-user .l-main .l-content,
.not-front.logged-in.page-node-add-ticket .l-main .l-content {
  float        : right;
  width        : 660px;
  margin-right : 89px;
  /*background: #DDDDFF;*/
}

/* footer on bottom */

html, body {
  height : 100%;
}

.wrapper_header_main {
  min-height : 100%;
  height     : auto !important;
  height     : 100%;
}

.l-footer {
  position   : relative;
  margin-top : -100px;
  height     : 100px;
}

.l-main {
  padding-bottom : 160px;
}

/*---/ footer on bottom */

@media only screen and (max-width : 1200px) {

  .wrapper_header_main {
    width : 940px;
  }

  .l-header, .l-main, .l-footer {
    width : 900px;
  }

  .l-header {
    margin : 0 20px;
  }

  .l-main {
    margin : 50px 20px 0 20px;
  }

}

@media only screen and (max-width : 1023px) {

  .wrapper_header_main {
    width : 707px;
  }

  .l-header, .l-main, .l-footer {
    width : 667px;
  }

  .l-header {
    margin : 0 20px;
  }

  .front .l-main .l-content {
    width : 428px;
  }

}

@media only screen and (max-width : 767px) {

  .wrapper_header_main {
    width : 80%;
  }

  .l-header, .l-main {
    width : 92%;
  }

  .l-footer {
    width : 76%;
  }

  .l-header {
    margin : 0 4%;
  }

  .l-main {
    margin : 35px 4% 0 4%;
  }

  .front .l-main .l-content {
    float : none;
    width : auto;
  }

  /* footer on bottom */

  .l-footer {
    margin-top : -180px;
    height     : 180px;
  }

  .l-main {
    padding-bottom : 220px;
  }

  /*--- footer on bottom */

}

@media only screen and (max-width : 480px) {

  .wrapper_header_main {
    width : 300px;
  }

  .l-header, .l-main, .l-footer {
    width : 280px;
  }

  .l-header {
    margin : 0 10px;
  }

  .l-main {
    margin : 25px 10px 0 10px;
  }

  .l-header .l-branding {
    float : none;
  }

  /* footer on bottom */

  .l-footer {
    margin-top : -200px;
    height     : 200px;
  }

  .l-main {
    padding-bottom : 220px;
  }

  /*--- footer on bottom */

}

@media only screen and (max-width : 319px) {

  .wrapper_header_main {
    width      : 96%;
    box-shadow : none;
  }

  .l-header, .l-main, .l-footer {
    width : 96%;
  }

  .l-header {
    margin : 0 2%;
  }

  .l-main {
    margin : 25px 2% 0 2%;
  }

  .not-front .l-main .l-content {
    width : 100%;
  }

}

/*---/ SKELETON */
