/* CLEAR */

.clearfix,
.l-header #block-menu-menu-header-menu-sign-in ul.menu,
.l-footer .l-region,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu,
#ticket-node-form .form-item,
#ticket-node-form .field-name-field-ticket-category,
#ticket-node-form .field-name-field-ticket-category .form-type-select, {
  *zoom : 1;
}

.clearfix:before,
.clearfix:after,
.l-header #block-menu-menu-header-menu-sign-in ul.menu:before,
.l-header #block-menu-menu-header-menu-sign-in ul.menu:after,
.l-footer .l-region:before,
.l-footer .l-region:after,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu:before,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu:after,
#ticket-node-form .form-item:before,
#ticket-node-form .form-item:after,
#ticket-node-form .field-name-field-ticket-category:before,
#ticket-node-form .field-name-field-ticket-category:after,
#ticket-node-form .field-name-field-ticket-category .form-type-select:before,
#ticket-node-form .field-name-field-ticket-category .form-type-select:after {
  display     : table;
  line-height : 0;
  content     : "";
}

.clearfix:after,
.l-header #block-menu-menu-header-menu-sign-in ul.menu:after,
.l-footer .l-region:after,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu:after,
#ticket-node-form .form-item:after,
#ticket-node-form .field-name-field-ticket-category:after,
#ticket-node-form .field-name-field-ticket-category .form-type-select:after {
  clear : both;
}

/*---/ CLEAR */

/* FONTS */

/* corbel regular */

@font-face {
  font-family : 'corbelregular';
  src         : url('../fonts/corbel-webfont.eot');
  src         : url('../fonts/corbel-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/corbel-webfont.woff') format('woff'), url('../fonts/corbel-webfont.ttf') format('truetype'), url('../fonts/corbel-webfont.svg#corbelregular') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ corbel regular */

/* corbel bold */

@font-face {
  font-family : 'corbelbold';
  src         : url('../fonts/corbelb-webfont.eot');
  src         : url('../fonts/corbelb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/corbelb-webfont.woff') format('woff'), url('../fonts/corbelb-webfont.ttf') format('truetype'), url('../fonts/corbelb-webfont.svg#corbelbold') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ corbel bold */

/* corbel italic */

@font-face {
  font-family : 'corbelitalic';
  src         : url('../fonts/corbeli-webfont.eot');
  src         : url('../fonts/corbeli-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/corbeli-webfont.woff') format('woff'), url('../fonts/corbeli-webfont.ttf') format('truetype'), url('../fonts/corbeli-webfont.svg#corbelitalic') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ corbel italic */

/* corbel bold italic */

@font-face {
  font-family : 'corbelbold_italic';
  src         : url('../fonts/corbelz-webfont.eot');
  src         : url('../fonts/corbelz-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/corbelz-webfont.woff') format('woff'), url('../fonts/corbelz-webfont.ttf') format('truetype'), url('../fonts/corbelz-webfont.svg#corbelbold_italic') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ corbel bold italic */

/*---/ FONTS */

/* COMMON ELEMENTS */

body {
  font-family : 'corbelregular', Calibri, Arial, sans-serif;
}

media {
  max-width : 100%;
}

a {
  text-decoration : none;
}

h1, h2, h3, h4, h5, h6 {
  font-family : 'corbelbold';
}

h1 {
  color : #005493;
}

input[type="text"],
input[type="password"],
textarea {
  border  : 1px solid #C8C8C8;
  padding : 4px 6px;
}

input[type="submit"] {
  display     : inline-block;
  background  : #367DA2;
  padding     : 5px 40px;
  border      : none;
  font-family : 'corbelregular', calibri, arial, sans-serif;
  font-size   : 16px;
  color       : white;
  box-shadow  : 3px 3px 2px 0 rgba(0, 0, 0, 0.35);
  cursor      : pointer;
}

input[type="submit"]:hover {
  background : #2B6380;
}

select {
  border  : 1px solid #C8C8C8;
  padding : 2px 18px 2px 3px;
}

.l-main h2 {
  font-size : 20px;
  color     : #005493;
}

/*.resizable-textarea textarea {
  position: relative;
  display: block;
}

.resizable-textarea textarea:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background-image   : url(../images/textarea_triangle.png);
  background-position: right bottom;
  background-repeat: no-repeat;
} */

.resizable-textarea .grippie {
  display : none;
}

/*---/ COMMON ELEMENTS */

/* HEADER */

/* logo */

.l-header h1.site-name {
  display : none;
}

.l-header .l-branding a:hover {
  font-weight : normal;
}

.l-header .l-branding a img {
  width       : 335px;
  margin-left : 8px;
}

/*---/ logo */

/* sign in */

.l-header #block-menu-menu-header-menu-sign-in {
  text-transform : uppercase;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li {
  float : left;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li a:hover,
.l-header #block-menu-menu-header-menu-sign-in span.nolink {
  font-family : 'corbelbold';
}

.l-header #block-menu-menu-header-menu-sign-in span.nolink {
  display    : block;
  width      : 4px;
  height     : 22px;
  background : #000000;
  margin-top : -2px;
  font-size  : 0px;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first a {
  color : #000000;
  float : right;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.last a {
  color : #6AA03A;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first {
  padding-right : 14px;
  width         : 74px;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.last {
  padding-left : 14px;
  width        : 74px;
}

/*---/ sign in */

/*---/ HEADER */

/* HOMEPAGE */

/* choose your ticket */

.front .l-main .l-region--sidebar-first {
  margin  : 0 0 20px 0;
  padding : 0 30px 0 30px;
}

.view-choose-your-ticket {
  text-align  : center;
  padding-top : 50px;
  background  : url(../images/arrow_homepage_green_down.png) top center no-repeat;
}

.view-choose-your-ticket a {
  display     : block;
  height      : 34px;
  padding-top : 7px;
  color       : black;
}

.view-choose-your-ticket a:hover {
  color : #005493;
}

/*.view-choose-your-ticket a:hover {
  font-family : 'corbelbold';
}*/

.view-choose-your-ticket table {
  width : 100%;
}

.view-choose-your-ticket table tr {
  width : 100%;
}

.view-choose-your-ticket table tr td {
  height : 34px;
}

.view-choose-your-ticket table tr td:hover {
  background : #F1F1F1;
}

/*---/ choose your ticket */

/* general block */

.front .l-main article .field__item div {
  text-align   : center;
  margin-right : -18px;
}

.front .l-main article .field__item h2 {
  font-family : 'corbelbold';
  font-size   : 32px;
  margin      : 0 0 9px 0;
}

.front .l-main article .field__item h3 {
  font-family : 'corbelregular';
  font-size   : 22px;
  margin      : 9px 0 0 0;
}

.front .l-main article .field__item p {
  width      : 740px;
  height     : 475px;
  background : url(../images/homepage_illustration.png) center center no-repeat;
}

/*---/ general block */

/*---/ HOMEPAGE */

/* TICKET FORM */

#ticket-node-form {
  padding-left : 94px;
}

#ticket-node-form label {
  font-size     : 16px;
  font-weight   : normal;
  padding-left  : 10px;
  padding-right : 12px;
  margin        : 3px 0 5px 0;
  background    : url(../images/list_style_black_dot.png) left 6px no-repeat;
}

#ticket-node-form .date-padding {
  padding : 0;
}

/* select ticket */

#ticket-node-form .field-name-field-ticket-category .form-type-select {
  padding-left : 290px;
}

#ticket-node-form .field-name-field-ticket-category .form-type-select label {
  float          : left;
  padding        : 0 24px 0 0;
  background     : none;
  font-size      : 22px;
  text-transform : uppercase;
  color          : #005493;
}

#ticket-node-form .field-name-field-ticket-category .form-type-select label .form-required {
  display : none;
}

/*---/ select ticket */

#ticket-node-form .form-type-textfield label,
#ticket-node-form .form-type-textfield input,
#ticket-node-form .form-type-date-combo label,
#ticket-node-form .form-type-date-combo .date-no-float {
  float : left;
}

#ticket-node-form .form-type-textarea textarea {
  width : 600px;
}

#ticket-node-form .form-type-textfield input {
  width : 220px;
}

#ticket-node-form .field-name-field-full-name .form-type-textfield input {
  width : 360px;
}

#ticket-node-form .form-type-date-combo .date-no-float {
  width : auto;
  clear : none;
}

#ticket-node-form .form-type-date-combo .date-no-float .form-type-textfield input {
  width       : 110px;
  font-family : Calibri, arial, sans-serif;
}

#ticket-node-form .ticket-recommendation {
  display   : block;
  margin    : 25px 0 15px 0;
  font-size : 17px;
  color     : #D13707;
}

/* datepicker */

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, #ui-datepicker-div {
  font-family : calibri, arial, sans-serif;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background : #C4E8F5;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  border : 1px solid #B0E3F5;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  background : #C2ECA1;
}

.ui-state-default:hover, .ui-widget-content:hover .ui-state-default:hover {
  background : #005493;
  color      : white;
  border     : 1px solid #005493;
}

#ui-datepicker-div {
  border     : 1px solid #C8C8C8;
  background : white;
  width      : 274px;
}

#ui-datepicker-div .ui-corner-all {
  -moz-border-radius    : 0px;
  -webkit-border-radius : 0px;
  border-radius         : 0px;
}

#ui-datepicker-div th {
  background : #005493;
  padding    : 0.7em 0;
  width      : 38px;
}

#ui-datepicker-div th span {
  color : white;
}

#ui-datepicker-div .ui-widget-header {
  background : #83AE61;
  width      : 266px;
}

.ui-datepicker td a {
  padding    : 2px 0;
  text-align : center;
}

.ui-datepicker table {
  width : 266px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top    : 3px;
  width  : 32px;
  height : 30px;
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  top        : 3px;
  border     : none;
  background : none;
}

/*---/ datepicker */

#ticket-node-form #edit-actions input[type="submit"] {
  background : #6EC038;
  font-size  : 20px;
  margin     : 22px 0 10px 0;
}

#ticket-node-form #edit-actions input[type="submit"]:hover {
  background : #599B2D;
}

#ticket-node-form .form-managed-file input[type="submit"] {
  margin-left : 30px;
}

#ticket-node-form .field-type-file {
  margin-top : 50px;
}

#ticket-node-form .form-managed-file span.file a {
  color : #005493;
}

#ticket-node-form .form-managed-file span.file a:hover {
  text-decoration : underline;
}

/*---/ TICKET FORM */

/* FOOTER */

.l-footer {
  background  : white;
  font-family : 'corbelbold';
}

.l-footer #block-menu-menu-footer-menu-about-us,
.l-footer #block-menu-menu-footer-menu-support,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke {
  float : left;
}

.l-footer #block-menu-menu-footer-menu-about-us,
.l-footer #block-menu-menu-footer-menu-support {
  font-size : 16px;
}

.l-footer #block-menu-menu-footer-menu-about-us a:hover,
.l-footer #block-menu-menu-footer-menu-support a:hover {
  text-decoration : underline;
}

.l-footer #block-menu-menu-footer-menu-about-us {
  margin-right : 62px;
  margin-left  : 32px;
}

.l-footer #block-menu-menu-footer-menu-support {
  margin-right : 158px;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke {
  margin-top : 23px;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu li {
  float : left;
}

.l-footer #block-menu-menu-footer-menu-about-us ul li,
.l-footer #block-menu-menu-footer-menu-support ul li {
  text-align : center;
}

.l-footer #block-menu-menu-footer-menu-about-us ul li.expanded a,
.l-footer #block-menu-menu-footer-menu-support ul li.expanded a,
.l-footer #block-menu-menu-footer-menu-about-us ul li.collapsed a,
.l-footer #block-menu-menu-footer-menu-support ul li.collapsed a {
  display : block;
  color   : #005493;
}

.l-footer #block-menu-menu-footer-menu-support ul li.expanded ul li.last span.nolink {
  font-family : calibri, arial, sans-serif;
  font-weight : bold;
  font-size   : 17px;
}

.l-footer #block-menu-menu-footer-menu-about-us ul li.expanded a,
.l-footer #block-menu-menu-footer-menu-support ul li.expanded a,
.l-footer #block-menu-menu-footer-menu-about-us ul li.expanded span,
.l-footer #block-menu-menu-footer-menu-support ul li.expanded span {
  line-height : 1.7em;
}

.l-footer #block-menu-menu-footer-menu-about-us ul li.expanded ul li a,
.l-footer #block-menu-menu-footer-menu-support ul li.expanded ul li a {
  color : #000000;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li.first a {
  font-family    : 'corbelbold';
  text-transform : none;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li:nth-child(2) {
  width         : 75px;
  padding-right : 12px;
  text-align    : right;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li:nth-child(2) a {
  display : block;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li.last {
  width        : 75px;
  padding-left : 12px;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li span.nolink {
  display    : block;
  background : #000000;
  width      : 2px;
  height     : 18px;
  font-size  : 0;
  margin-top : -1px;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li.first span.nolink {
  display    : block;
  background : none;
  width      : auto;
  height     : auto;
  font-size  : 18px;
  margin-top : 0;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li a {
  color          : #000000;
  font-family    : 'corbelregular';
  text-transform : uppercase;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li.last a {
  color : #6AA03A;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li a:hover {
  font-family : 'corbelbold';
}

/*---/ FOOTER */

/* USER PROFILE */

.user-profile-item__label {
  font-family : 'corbelbold';
  font-weight : normal;
}

/*---/ USER PROFILE */

/* for dev */
/*
.l-header {
  background : darkseagreen;
}

.l-main {
  background : lavender;
}

.l-footer {
  background : navajowhite;
}

/*---/ for dev */

























