/* @MEDIA */

@media only screen and (max-width : 1200px) {

  /* HOMEPAGE */
  .front .l-main article .field__item p {
    width      : 660px;
    height     : 424px;
    background : url(../images/homepage_illustration_miniscreens.png) center center no-repeat;
  }

  /* warning message */
  .front .l-main .l-content .messages {
    width : 642px;
  }

  /*---/ warning message*/
  /*---/ HOMEPAGE */
  /* TICKET FORM */
  #ticket-node-form {
    padding-left : 70px;
  }

  /*---/ TICKET FORM */
  /* USER ACCOUNT */
  ul.nice-menu {
    width  : 140px;
    margin : 30px 0 0 35px;
  }

  /*---/ USER ACCOUNT */
  @media only screen and (max-width : 1023px) {

    /* HOMEPAGE */
    .front .l-main article .field__item div {
      margin-right : 0px;
    }

    .front .l-main article .field__item p {
      margin : 1em auto;
    }

    .front .l-main article .field__item p {
      width      : 340px;
      height     : 218px;
      background : url(../images/homepage_illustration_tablets.png) center center no-repeat;
    }

    /* warning message */
    .front .l-main .l-content .messages {
      width : 428px;
    }

    /*---/ warning message*/
    /*---/ HOMEPAGE */
    /* FOOTER */
    .l-footer #block-menu-menu-footer-menu-about-us {
      margin-right : 40px;
      margin-left  : 20px;
    }

    .l-footer #block-menu-menu-footer-menu-support {
      margin-right : 45px;
    }

    /*--- FOOTER */
    /* TICKET FORM */
    #ticket-node-form {
      padding-left : 32px;
    }

    #ticket-node-form .form-type-textarea textarea {
      width : 100%;
    }

    input.customfile-filename {
      width : 196px;
    }

    #ticket-node-form .form-managed-file input[type="submit"] {
      margin-left : 0;
    }

    /*---/ TICKET FORM */
    /* USER ACCOUNT */
    ul.nice-menu {
      width  : 135px;
      margin : 30px 0 0 10px;
    }

    ul.nice-menu-right ul {
      right : 135px;
    }

    #edit-timezone--2 {
      width : 100%;
    }

    .password-strength {
      width : 12em;
    }

    #user-profile-form input[type='text'],
    #offer-node-form input[type='text'],
    #comment-form input[type='text'] {
      width : 100%;
    }
  }

  /*---/ USER ACCOUNT */

}

@media only screen and (max-width : 767px) {

  /* HOMEPAGE */
  .front .l-main .l-region--sidebar-first {
    width      : 100%;
    padding    : 0;
    text-align : center;
  }

  .front .l-main article .field__item p {
    width      : 340px;
    height     : 218px;
    background : url(../images/homepage_illustration_tablets.png) center center no-repeat;
  }

  /* warning message */
  .front .l-main .l-content .messages {
    width : 100%;
  }

  /*---/ warning message*/
  /*---/ HOMEPAGE */
  /* HEADER */
  .l-header .l-branding {
    text-align : center;
  }

  /*---/ HEADER */
  /* TICKET FORM */
  #ticket-node-form {
    padding-left  : 10px;
    padding-right : 10px;
    width         : 100%;
  }

  #ticket-node-form .form-textarea-wrapper textarea {
    width : 100%;
  }

  #ticket-node-form .field-name-field-ticket-category .form-type-select {
    padding-left : 0;
    float        : right;
  }

  /*---/ TICKET FORM */
  /* FOOTER */
  .l-footer #block-menu-menu-footer-menu-are-you-a-ticke {
    margin-left : 20px;
  }

  /*---/ FOOTER */

}

@media only screen and (max-width : 650px) {

  #ticket-node-form .field-name-field-full-name .form-type-textfield input {
    width : 270px;
  }
}

@media only screen and (max-width : 560px) {

  /* FOOTER */
  .l-footer .l-region {
    width  : inherit;
    margin : 0 auto;
  }

  .l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu li.first {
    float         : none;
    margin-bottom : 12px;
  }

  .l-footer #block-menu-menu-footer-menu-about-us {
    margin-right : 10px;
    margin-left  : 0;
  }

  .l-footer #block-menu-menu-footer-menu-support {
    margin-right : 0;
    float        : right;
  }

  .l-footer #block-menu-menu-footer-menu-are-you-a-ticke {
    margin-left : 0;
  }

  /*---/ FOOTER */
  /* TICKET FORM */
  #ticket-node-form .field-name-field-full-name .form-type-textfield input {
    width : 220px;
  }

  /*---/ TICKET FORM */

}

@media only screen and (max-width : 480px) {

  /* HOMEPAGE */
  .front .l-main article .field__item p {
    display : none;
  }

  /*---/ HOMEPAGE */
  /* HEADER */
  .l-header .l-branding a {
    display    : block;
    width      : 275px;
    height     : 60px;
    background : url(../images/logo_mobiles.png) center center no-repeat;
    margin     : 0 auto;
  }

  .l-header .l-branding a img {
    display : none;
  }

  /*---/ HEADER */
  .front .l-main .l-region--sidebar-first {
    width      : 280px;
    text-align : center;
    padding    : 0 30px;
    background : none;
  }

  /* TICKET FORM */
  #ticket-node-form {
    padding-left  : 5px;
    padding-right : 5px;
    width         : 280px;
  }

  #ticket-node-form .form-type-textfield input,
  #ticket-node-form .field-name-field-full-name .form-type-textfield input {
    width : 100%;
  }

  /*---/ TICKET FORM */
  .l-footer #block-menu-menu-footer-menu-about-us {
    margin-left : 15px;
  }

  .l-footer #block-menu-menu-footer-menu-support {
    margin-right : 15px;
  }

  .l-footer #block-menu-menu-footer-menu-are-you-a-ticke {
    margin-left : 15px;
  }

}

@media only screen and (max-width : 319px) {

  /* HEADER */
  .l-header .l-branding a {
    display    : block;
    width      : 100%;
    height     : 60px;
    background : url(../images/logo_mobiles_319.png) center center no-repeat;
    margin     : 0 auto;
  }

  /*---/ HEADER */
  /* HOMEPAGE */
  .front .l-main .l-region--sidebar-first {
    width      : 100%;
    text-align : center;
    padding    : 0;
    background : none;
  }

  /*---/ HOMEPAGE */
  /* TICKET FORM */
  #ticket-node-form {
    padding-left  : 0;
    padding-right : 0;
    width         : 100%;
  }

  #ticket-node-form label {
    font-size  : 15px;
    background : url(../images/list_style_black_dot.png) left 4px no-repeat;
  }

  #ticket-node-form .ticket-recommendation {
    font-size : 15px;
  }

  /*---/ TICKET FORM */

}

/* @MEDIA */
