/* SKELETON */

.wrapper_header_main {
  width        : 100%;
  margin       : 0 auto;
}

.l-main {
  width  : 1100px;
  margin : 0 auto;
}

.not-front .l-main {
  width  : 1100px;
  margin : 100px auto;
}

.l-footer {
  width  : 100%;
  margin : 0 auto;
}

.l-region--footer {
  width: 1100px;
  margin: 0 auto;
}

.l-header {
  width        : 100%;
  margin: 0 auto;
}

.l-header_wrapper {
  width: 1100px;
  margin: 0 auto;
}

.l-header .l-branding,
.l-main .l-content,
.l-main .l-region--sidebar-first {
  float : left;
}

.l-header .l-region--header {
  float : right;
}

.front .l-main .l-content {
  float: left;
}

.not-front .l-main .l-content,
.not-front.page-user.not-logged-in .l-main .l-content {
  width : 100%;
}

.not-front.page-user.not-logged-in .l-main .l-content {
  margin-right : 0;

}

.not-front.page-user .l-main .l-content,
.not-front.logged-in .l-main .l-content {
  float        : left;
  width        : 100%;
}

/* footer on bottom */

html, body {
  height : 100%;
}

.wrapper_header_main {
  min-height : 100%;
  height     : auto !important;
  height     : 100%;
}

.l-footer {
  position   : relative;
  margin-top : -120px;
  height     : 120px;
}

.l-main {
  padding-bottom : 180px;
}

/*---/ footer on bottom */

/*---/ SKELETON */
