/* SKELETON */

.wrapper_header_main {
  width        : 1024px;
  margin       : 0 auto;
  border-left  : 1px solid #E1E1E1;
  border-right : 1px solid #E1E1E1;
  box-shadow   : 0 0 8px 5px #E9E9E9;
}

.l-main {
  width  : 984px;
  margin : 50px 20px 0 20px;
}

.not-front .l-main {
  width  : 944px;
  margin : 80px 40px 0 40px;
}

.l-footer {
  width  : 984px;
  margin : 0 auto;
}

.l-header {
padding: 0 20px;
  margin: 0;
}

.l-header .l-branding,
.l-main .l-content,
.l-main .l-region--sidebar-first {
  float : left;
}

.l-header .l-region--header {
  float : right;
}

.front .l-main .l-content {
  float: left;
}

.not-front .l-main .l-content,
.not-front.page-user.not-logged-in .l-main .l-content {
  width : 100%;
}

.not-front.page-user.not-logged-in .l-main .l-content {
  margin-right : 0;

}

.not-front.page-user .l-main .l-content,
.not-front.logged-in .l-main .l-content {
  float        : left;
  width        : 100%;
}

/* footer on bottom */

html, body {
  height : 100%;
}

.wrapper_header_main {
  min-height : 100%;
  height     : auto !important;
  height     : 100%;
}

.l-footer {
  position   : relative;
  margin-top : -100px;
  height     : 100px;
}

.l-main {
  padding-bottom : 160px;
}

/*---/ footer on bottom */

/*---/ SKELETON */
