/* CLEAR */

.clearfix,
.menu,
.l-header #block-menu-menu-header-menu-sign-in ul.menu,
.l-footer .l-region,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu,
#ticket-node-form .form-item,
#ticket-node-form .field-name-field-ticket-category,
#ticket-node-form .field-name-field-ticket-category .form-type-select,
#ticket-node-form--2 .form-item,
#ticket-node-form--2 .field-name-field-ticket-category,
#ticket-node-form--2 .field-name-field-ticket-category .form-type-select,
article.comment,
.not-front.logged-in.node-type-ticket .pane-entity-view article.node--ticket,
.customfile-wrap,
.l-region {
  *zoom : 1;
}

.clearfix:before,
.clearfix:after,
.menu:before,
.menu:after,
.l-header #block-menu-menu-header-menu-sign-in ul.menu:before,
.l-header #block-menu-menu-header-menu-sign-in ul.menu:after,
.l-footer .l-region:before,
.l-footer .l-region:after,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu:before,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu:after,
#ticket-node-form .form-item:before,
#ticket-node-form .form-item:after,
#ticket-node-form .field-name-field-ticket-category:before,
#ticket-node-form .field-name-field-ticket-category:after,
#ticket-node-form .field-name-field-ticket-category .form-type-select:before,
#ticket-node-form .field-name-field-ticket-category .form-type-select:after,
#ticket-node-form--2 .form-item:before,
#ticket-node-form--2 .form-item:after,
#ticket-node-form--2 .field-name-field-ticket-category:before,
#ticket-node-form--2 .field-name-field-ticket-category:after,
#ticket-node-form--2 .field-name-field-ticket-category .form-type-select:before,
#ticket-node-form--2 .field-name-field-ticket-category .form-type-select:after,
article.comment:before,
article.comment:after,
.not-front.logged-in.node-type-ticket .pane-entity-view article.node--ticket:before,
.not-front.logged-in.node-type-ticket .pane-entity-view article.node--ticket:after,
.customfile-wrap:before,
.customfile-wrap:after,
.l-region:before,
.l-region:after {
  display     : table;
  line-height : 0;
  content     : "";
}

.clearfix:after,
.menu:after,
.l-header #block-menu-menu-header-menu-sign-in ul.menu:after,
.l-footer .l-region:after,
.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu:after,
#ticket-node-form .form-item:after,
#ticket-node-form .field-name-field-ticket-category:after,
#ticket-node-form .field-name-field-ticket-category .form-type-select:after,
#ticket-node-form--2 .form-item:after,
#ticket-node-form--2 .field-name-field-ticket-category:after,
#ticket-node-form--2 .field-name-field-ticket-category .form-type-select:after,
article.comment:after,
.not-front.logged-in.node-type-ticket .pane-entity-view article.node--ticket:after,
.customfile-wrap:after,
.l-region:after {
  clear : both;
}

/*---/ CLEAR */

/* FONTS */

/* corbel regular */

@font-face {
  font-family : 'corbelregular';
  src         : url('../fonts/corbel-webfont.eot');
  src         : url('../fonts/corbel-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/corbel-webfont.woff') format('woff'), url('../fonts/corbel-webfont.ttf') format('truetype'), url('../fonts/corbel-webfont.svg#corbelregular') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ corbel regular */

/* corbel bold */

@font-face {
  font-family : 'corbelbold';
  src         : url('../fonts/corbelb-webfont.eot');
  src         : url('../fonts/corbelb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/corbelb-webfont.woff') format('woff'), url('../fonts/corbelb-webfont.ttf') format('truetype'), url('../fonts/corbelb-webfont.svg#corbelbold') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ corbel bold */

/* corbel italic */

@font-face {
  font-family : 'corbelitalic';
  src         : url('../fonts/corbeli-webfont.eot');
  src         : url('../fonts/corbeli-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/corbeli-webfont.woff') format('woff'), url('../fonts/corbeli-webfont.ttf') format('truetype'), url('../fonts/corbeli-webfont.svg#corbelitalic') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ corbel italic */

/* corbel bold italic */

@font-face {
  font-family : 'corbelbold_italic';
  src         : url('../fonts/corbelz-webfont.eot');
  src         : url('../fonts/corbelz-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/corbelz-webfont.woff') format('woff'), url('../fonts/corbelz-webfont.ttf') format('truetype'), url('../fonts/corbelz-webfont.svg#corbelbold_italic') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ corbel bold italic */

/* sofia pro light */

@font-face {
  font-family : 'sofia_pro_lightregular';
  src         : url('../fonts/sofiaprolight-webfont.eot');
  src         : url('../fonts/sofiaprolight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sofiaprolight-webfont.woff') format('woff'), url('../fonts/sofiaprolight-webfont.ttf') format('truetype'), url('../fonts/sofiaprolight-webfont.svg#sofia_pro_lightregular') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ sofia pro light */

/* cabin regular */

@font-face {
  font-family : 'cabinregular';
  src         : url('../fonts/cabin-regular-webfont.eot');
  src         : url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cabin-regular-webfont.woff') format('woff'), url('../fonts/cabin-regular-webfont.ttf') format('truetype'), url('../fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ cabin regular */

/* cabin bold */

@font-face {
  font-family : 'cabinsemibold';
  src         : url('../fonts/cabin-semibold-webfont.eot');
  src         : url('../fonts/cabin-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cabin-semibold-webfont.woff') format('woff'), url('../fonts/cabin-semibold-webfont.ttf') format('truetype'), url('../fonts/cabin-semibold-webfont.svg#cabinsemibold') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ cabin bold */

/* levenim regular */

@font-face {
  font-family : 'levenim_mtregular';
  src         : url('../fonts/lvnm-webfont.eot');
  src         : url('../fonts/lvnm-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lvnm-webfont.woff') format('woff'), url('../fonts/lvnm-webfont.ttf') format('truetype'), url('../fonts/lvnm-webfont.svg#levenim_mtregular') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ levenim regular */

/* levenim bold */

@font-face {
  font-family : 'levenim_mtbold';
  src         : url('../fonts/lvnmbd-webfont.eot');
  src         : url('../fonts/lvnmbd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lvnmbd-webfont.woff') format('woff'), url('../fonts/lvnmbd-webfont.ttf') format('truetype'), url('../fonts/lvnmbd-webfont.svg#levenim_mtbold') format('svg');
  font-weight : normal;
  font-style  : normal;
}

/*---/ levenim bold */

/*---/ FONTS */

/* COMMON ELEMENTS */

body {
  font-family : 'levenim_mtregular', Calibri, Arial, sans-serif;
  font-size: 13px;
}

media {
  max-width : 100%;
}

a {
  text-decoration : none;
}

h1, h2, h3, h4, h5, h6 {
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-weight : normal;
}

h1 {
  color       : #005493;
  margin-left : 20px;
  font-size   : 26px;
}

input,
textarea {
  border  : 1px solid #6e7279;
  padding : 6px;
  margin  : 0;
  background: #f7f7f8;
}

input[type="submit"] {
  display     : inline-block;
  background  : #e2b700;
  padding     : 6px;
  border      : none;
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-size   : 13px;
  color       : white;
  cursor      : pointer;
  border: 1px solid #6e7279;
  transition         : 0.3s;
  -webkit-transition : 0.3s;
  -moz-transition    : 0.3s;
  -o-transition      : 0.3s;
}

input[type="submit"]:hover {
  background : #faca00;
  transition         : 0.3s;
  -webkit-transition : 0.3s;
  -moz-transition    : 0.3s;
  -o-transition      : 0.3s;
}

button,
button:hover {
  transition         : 0.3s;
  -webkit-transition : 0.3s;
  -moz-transition    : 0.3s;
  -o-transition      : 0.3s;
}

select {
  border  : 1px solid #C8C8C8;
  padding : 0;
}

input[type="text"],
input[type="password"],
input[type="submit"],
textarea,
select {
  outline : none;
}

.form-item,
.form-actions {
  margin-bottom: 10px;
}

.l-main h2 {
  font-size : 16px;
  color     : #005493;
}

.form-item label, .form-actions label,
.field__label,
.views-exposed-form label {
  font-family : 'levenim_mtbold', calibri, arial, sans-serif;
  font-weight : normal;
  font-size   : 13px;
}

.resizable-textarea .grippie {
  display : none;
}

html.js fieldset.collapsed .fieldset-legend {
  background-position : left center;
  padding-left        : 12px;
}

.description a,
article a {
  color : #005493;
}

.description a:hover,
article a:hover {
  text-decoration : underline;
}

.password-strength-title {
  text-transform : lowercase;
  margin-bottom  : 2px;
}

.password-suggestions {
  border : 1px solid #6AA03A;
}

a#edit-cancel {
  display     : inline-block;
  background  : firebrick;
  padding     : 5px 40px;
  margin-left : 32px;
  border      : none;
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-size   : 13px;
  color       : white;
  box-shadow  : 3px 3px 2px 0 rgba(0, 0, 0, 0.35);
  cursor      : pointer;
}

a#edit-cancel:hover {
  background : darkred;
}

.view-empty {
  padding : 10px 14px 18px 14px;
}

.view-empty p {
  padding    : 10px 0;
  text-align : center;
}

h3.view-filters-expanded {
  font-size : 14px;
  cursor    : pointer;
}

h3.view-filters-expanded:hover {
  text-decoration : underline;
}

.form-item .description, .form-actions .description {
  font-size : 12px;
}

/*---/ COMMON ELEMENTS */

/* HEADER */

/* logo */

.l-header {
  background: #0e5791;
}

.l-header h1.site-name {
  display : none;
}

.l-header .l-branding a {
  display: block;
}

.l-header .l-branding a:hover {
  font-weight : normal;
}

.l-header .l-branding a img {
  width       : 170px;
  margin: 4px 0;
}

/*---/ logo */

/* sign in */

.l-header #block-menu-menu-header-menu-sign-in {
  font-family : 'levenim_mtbold', calibri, arial, sans-serif;
  text-transform : uppercase;
  font-size      : 12px;
  line-height: 12px;
  margin: 19px 0;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li {
  float : left;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li a:hover,
.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first.expanded:hover{
  text-decoration: underline;
}

.l-header #block-menu-menu-header-menu-sign-in span.nolink {
  display    : none;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first {
  position       : relative;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first a {
  color : #f1d033;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.last {
  padding : 0 25px 0 60px;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.last a {
  color : #ff2c21;
  font-style: italic;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first span {
  color          : #f1d033;
  float          : right;
  padding-right  : 22px;
  background     : url(../images/arrow_user_yellow_down.png) right center no-repeat;
  text-transform : none;
}

/*---/ dropdown menu */

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first ul.menu {
  position       : absolute;
  padding-top    : 20px;
  right          : 0;
  display        : none;
  margin         : 0;
  text-transform : lowercase;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first ul.menu li {
  display     : block;
  float       : none;
  width       : 120px;
  background  : white;
  border      : 1px solid #6E7279;
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-size   : 12px;
  text-align  : center;
  font-weight : normal;
  font-style  : normal;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first ul.menu li:hover {
  background  : #EBEBEB;
  font-weight : normal;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first ul.menu li.first {
  position            : relative;
  border-bottom-width : 0;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first ul.menu li.last {
  border-top-width : 0;
  padding          : 0;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first ul.menu li a {
  display : block;
  width   : 120px;
  padding : 8px 0;
  color   : #333333;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first ul.menu li.last a {
  font-style : normal;
}

.l-header #block-menu-menu-header-menu-sign-in ul.menu li.first ul.menu li:hover a {
  text-decoration : none;
}

/*---/ dropdown menu */

/*---/ sign in */

/* header for logged user*/

.logged-in .l-header .l-region--header {
  width: 88%;
}

.logged-in .l-header .l-branding a {
  display: block;
  width: 45px;
  height: 47px;
  background : url(../images/logo_logged.png) center center no-repeat;
  margin: 6px 0;
}

.logged-in .l-header .l-branding a img {
  display: none;
}

#block-menu-menu-customer-menu {
  float: left;
}

.logged-in #block-menu-menu-header-menu-sign-in {
  float: right;
}

#block-menu-menu-customer-menu ul li {
  display: inline-block;
  margin-right: 10px;
  transition         : 0.3s;
  -webkit-transition : 0.3s;
  -moz-transition    : 0.3s;
  -o-transition      : 0.3s;
}

#block-menu-menu-customer-menu ul li a,
#block-menu-menu-customer-menu ul li span {
  display: block;
  padding: 22px;
}

#block-menu-menu-customer-menu ul li,
#block-menu-menu-customer-menu ul li a {
  font-family : 'levenim_mtbold', calibri, arial, sans-serif;
  font-size: 11px;
  color: white;
}

#block-menu-menu-customer-menu ul li:hover,
#block-menu-menu-customer-menu ul li a:hover{
  color: #ff2c21;
  font-style: italic;
}

#block-menu-menu-customer-menu ul li:hover {
  background: #ebebeb;
}

.logged-in .l-header #block-menu-menu-header-menu-sign-in {
  margin: 24px 0 0 0;
}

.logged-in .l-header #block-menu-menu-header-menu-sign-in ul.menu li.first span {
 font-size: 11px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*---/ header for logged user*/

/*---/ HEADER */

/* HOMEPAGE */

.front .l-main {
  background: url(../images/homepage_illustration_new.png) right 50px no-repeat;
}

/* choose your ticket */

.l-main .l-region--sidebar-first h2.block__title {
  font-family : 'levenim_mtbold', calibri, arial, sans-serif;
  font-size   : 19px;
}

.front .l-main .l-region--sidebar-first {
  margin  : 0 0 20px 0;
  padding : 0 30px 0 30px;
}

.view-choose-your-ticket {
  text-align  : center;
  padding-top : 50px;
  background  : url(../images/arrow_homepage_green_down.png) top center no-repeat;
}

.view-choose-your-ticket a {
  display : block;
  height  : 34px;
  padding : 9px 7px;
  color   : black;
}

.view-choose-your-ticket a:hover {
  color : white;
}

.view-choose-your-ticket table {
  width : 100%;
}

.view-choose-your-ticket table tr {
  width : 100%;
}

.view-choose-your-ticket table tr td {
  height : 34px;
}

.view-choose-your-ticket table tr td:hover {
  background : #AEAEAE;
}

/*---/ choose your ticket */

/* general block */

.front .l-main article .field__item div {
  text-align   : center;
  margin-right : -18px;
}

.front .l-main article .field__item h2 {
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-weight : normal;
  font-size   : 29px;
  margin      : 0 0 9px 0;
}

.front .l-main article .field__item h3 {
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-size   : 18px;
  margin      : 9px 0 0 0;
}

.front .l-main article .field__item p {
  width      : 740px;
  height     : 475px;
  background : url(../images/homepage_illustration.png) center center no-repeat;
}

/* warning message */

.front .l-main .l-content .messages {
  width : 722px;
}

/*---/ warning message*/

/*---/ general block */

/*---/ HOMEPAGE */

/* TICKET FORM */

#ticket-node-form,
#ticket-node-form--2 {
  width: 535px;
  padding: 0 40px;
  margin: 80px 0;
}
#ticket-node-form h2,
#ticket-node-form--2 h2 {
  margin    : 0 0 12px 0;
  font-size : 19px;
  font-family    : 'levenim_mtbold', calibri, arial, sans-serif;
}

#ticket-node-form h3,
#ticket-node-form--2 h3{
  margin: 0 0 40px 0;
  font-size: 13px;
  color: #7f7f7f;
}

#ticket-node-form label,
#ticket-node-form--2 label {
  font-size     : 15px;
  font-weight   : normal;
  padding-left  : 10px;
  padding-right : 12px;
  margin        : 6px 0 5px 0;
  background    : url(../images/list_style_black_dot.png) left 5px no-repeat;
}

#ticket-node-form .date-padding,
#ticket-node-form--2 .date-padding {
  padding : 0;
  width: 100%;
}

/* select ticket */

#ticket-node-form .field-name-field-ticket-category .form-type-select label,
#ticket-node-form--2 .field-name-field-ticket-category .form-type-select label {
  display        : inline-block;
  padding        : 0 24px 0 0;
  background     : none;
  font-size      : 20px;
  text-transform : uppercase;
  color          : #005493;
  font-family    : 'levenim_mtregular', calibri, arial, sans-serif;
  vertical-align : middle;
}

#ticket-node-form .field-name-field-ticket-category .form-type-select label .form-required,
#ticket-node-form--2 .field-name-field-ticket-category .form-type-select label .form-required {
  display : none;
}

/*---/ select ticket */

/* datepicker */

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, #ui-datepicker-div {
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background : #C4E8F5;
  color      : #000000;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  border : none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  background : #C2ECA1;
}

.ui-state-default:hover, .ui-widget-content:hover .ui-state-default:hover {
  background : #005493;
  color      : white;
  border     : none;
}

#ui-datepicker-div {
  border     : 1px solid #C8C8C8;
  background : white;
  width      : 274px;
}

#ui-datepicker-div .ui-corner-all {
  -moz-border-radius    : 0px;
  -webkit-border-radius : 0px;
  border-radius         : 0px;
}

#ui-datepicker-div th {
  background : #005493;
  padding    : 0.7em 0;
  width      : 38px;
}

#ui-datepicker-div th span {
  color : white;
}

#ui-datepicker-div .ui-widget-header {
  background : #83AE61;
  width      : 266px;
}

.ui-datepicker td a {
  padding    : 2px 0;
  text-align : center;
}

.ui-datepicker table {
  width : 266px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top    : 3px;
  width  : 32px;
  height : 30px;
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  top        : 3px;
  border     : none;
  background : none;
}

/*---/ datepicker */

#ticket-node-form .form-type-textfield label,
#ticket-node-form .form-type-textfield input,
#ticket-node-form .form-type-date-combo label,
#ticket-node-form .form-type-date-combo .date-no-float,
#ticket-node-form--2 .form-type-textfield label,
#ticket-node-form--2 .form-type-textfield input,
#ticket-node-form--2 .form-type-date-combo label,
#ticket-node-form--2 .form-type-date-combo .date-no-float {
  float : left;
}

#ticket-node-form input,
#ticket-node-form textarea,
#ticket-node-form--2 input,
#ticket-node-form--2 textarea {
  width : 100%;
}

#ticket-node-form .form-type-date-combo .date-no-float,
#ticket-node-form--2 .form-type-date-combo .date-no-float {
  width : 100%;
  clear : none;
}

#ticket-node-form .form-type-date-combo .date-no-float .form-type-textfield input,
#ticket-node-form--2 .form-type-date-combo .date-no-float .form-type-textfield input {
  width       : 100%;
  font-family : 'levenim_mtregular', Calibri, arial, sans-serif;
}

.container-inline-date .form-item,
.container-inline-date .form-item input {
  width: 100%;
  margin: 0;
}

#ticket-node-form #edit-actions input[type="submit"]#edit-submit,
#ticket-node-form--2 #edit-actions input[type="submit"]#edit-submit {
  background : #578625;
}

#ticket-node-form #edit-actions input[type="submit"]#edit-submit:hover,
#ticket-node-form--2 #edit-actions input[type="submit"]#edit-submit:hover {
  background : #73b132;
}

#ticket-node-form .form-managed-file input[type="submit"],
#ticket-node-form--2 .form-managed-file input[type="submit"] {
  margin: 0;
}

#ticket-node-form .form-managed-file span,
#ticket-node-form--2 .form-managed-file span {
  display: inline-block;
  margin: 0 0 10px 0;
}

.customfile-wrap input,
.customfile-wrap button {
float: left;
}

#ticket-node-form .customfile-wrap input,
#ticket-node-form--2 .customfile-wrap input {
  width: 300px;
}
#ticket-node-form .customfile-wrap button,
#ticket-node-form--2 .customfile-wrap button {
  width: 147px;
}

#ticket-node-form .form-managed-file span.file a,
#ticket-node-form--2 .form-managed-file span.file a {
  color : #005493;
}

#ticket-node-form .form-managed-file span.file a:hover,
#ticket-node-form--2 .form-managed-file span.file a:hover {
  text-decoration : underline;
}

#edit-field-location-where-ticket-was- .tickets-dropdown .selected {
  font-size : 14px;
  padding   : 8px 12px;
}

.tickets-dropdown {
  float          : none;
  display        : inline-block;
  vertical-align : middle;
}

span.customfile-upload {
  background : red;
}

/*---/ TICKET FORM */

/* FOOTER */

.l-footer {
  background  : white;
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-weight : normal;
}

.l-footer #block-menu-menu-footer-menu-about-us,
.l-footer #block-menu-menu-footer-menu-support {
  float : left;
}

.l-footer #block-menu-menu-footer-menu-about-us,
.l-footer #block-menu-menu-footer-menu-support {
  font-size   : 13px;
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
}

.l-footer #block-menu-menu-footer-menu-about-us a:hover,
.l-footer #block-menu-menu-footer-menu-support a:hover {
  text-decoration : underline;
}

.l-footer #block-menu-menu-footer-menu-about-us {
  margin-right : 62px;
  margin-left  : 32px;
}

.l-footer #block-menu-menu-footer-menu-support {
  margin-right : 158px;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke {
  float: right;
  margin-top : 23px;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu li {
  float : left;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul.menu li.first {
  line-height : 20px;
}

.l-footer #block-menu-menu-footer-menu-about-us ul li,
.l-footer #block-menu-menu-footer-menu-support ul li {
  text-align : left;
}

.l-footer #block-menu-menu-footer-menu-about-us ul li.expanded a,
.l-footer #block-menu-menu-footer-menu-support ul li.expanded a,
.l-footer #block-menu-menu-footer-menu-about-us ul li.collapsed a,
.l-footer #block-menu-menu-footer-menu-support ul li.collapsed a {
  display : block;
  color   : #005493;
}

.l-footer #block-menu-menu-footer-menu-about-us ul li.expanded a,
.l-footer #block-menu-menu-footer-menu-support ul li.expanded a,
.l-footer #block-menu-menu-footer-menu-about-us ul li.expanded span,
.l-footer #block-menu-menu-footer-menu-support ul li.expanded span {
  line-height : 1.7em;
}

.l-footer #block-menu-menu-footer-menu-about-us ul li.expanded ul li a,
.l-footer #block-menu-menu-footer-menu-support ul li.expanded ul li a {
  color : #000000;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li.first a {
  font-family    : 'levenim_mtregular', calibri, arial, sans-serif;
  text-transform : none;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li:nth-child(2) {
  width         : 75px;
  padding-right : 12px;
  text-align    : right;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li:nth-child(2) a {
  display : block;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li.last {
  width        : 75px;
  padding-left : 12px;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li span.nolink {
  display    : block;
  background : #000000;
  width      : 1px;
  height     : 15px;
  font-size  : 0;
  margin-top : -2px;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li.first span.nolink {
  display    : block;
  background : none;
  width      : auto;
  height     : auto;
  font-size  : 13px;
  margin-top : 0;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li a {
  color          : #000000;
  font-family    : 'levenim_mtregular', calibri, arial, sans-serif;
  text-transform : uppercase;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li.last a {
  color : #6AA03A;
}

.l-footer #block-menu-menu-footer-menu-are-you-a-ticke ul li a:hover {
  text-decoration: underline;
}

/*---/ FOOTER */

/* USER PROFILE */

/* login/register/edit */

#user-login,
#user-register-form,
#user-pass {
  margin : 20px 0 0 20px;
}

#user-register-form #edit-profile-main {
  display : none;
}

#user-login .form-submit,
#user-register-form .form-submit,
#user-pass .form-submit {
  margin : 25px 0 0 0;
}

.not-front.logged-in.page-user #user-profile-form {
  border : 1px solid #C8C8C8;
}

/*---/ login/register/edit */

.user-profile-item__label {
  font-family : 'levenim_mtregular', Calibri, Arial, sans-serif;
  font-weight : normal;
}

/* edit profile */

.not-front.logged-in.page-user #user-profile-form,
.not-front.logged-in.page-user #user-pass {
  padding : 10px 14px 18px 14px;
}

.not-front.logged-in.page-user #user-pass {
  border : 1px solid #C8C8C8;
}

#user-profile-form .form-item {
  margin-bottom : 24px;
}

#user-profile-form fieldset {
  border  : none;
  padding : 0;
}

#user-profile-form fieldset#edit-picture legend span {
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-weight : normal;
}

#user-profile-form fieldset#edit-picture .fieldset-wrapper label {
  display : none;
}

#user-profile-form #edit-timezone .form-item {
  margin-bottom : 0;
}

#user-profile-form #edit-timezone a {
  font-family : 'levenim_mtregular', calibri, arial, sans-serif;
  font-weight : normal;
  color       : black;
}

#user-profile-form #edit-timezone label {
  font-family : 'levenim_mtbold', calibri, arial, sans-serif;
}

#user-profile-form #edit-timezone a:hover {
  text-decoration : underline;
}

#user-profile-form #edit-actions {
  margin-top : 60px;
}

/*---/ edit profile */


/*---/ USER PROFILE */
























